
.divider{
    padding-top: 20px;
    height: 50px;
}
.divider-text {
    width: 100%; 
    text-align: center; 
    //line-height: 0.1em;
    color: grey;
 } 
 .divider-line {
    width: 100%; 
    border-radius: .70rem;
    border-bottom: 3px solid lightgrey; 
 } 
 