<div class="row divider">
    <div class="col-12">
        <div class="divider-text">
                <h5><span>Active ({{activeCount|async}})</span></h5>
        </div> 
        <div class ="divider-line"></div>    
    </div>
</div>

<div *ngFor="let todo of (todoes | async | TodoListStatusFilter:0);trackBy:trackByTodo" >
    <app-todo [todo]="todo"></app-todo>
</div>

<div class="row divider">
    <div class="col-12">
        <div class="divider-text">
                <h5><span>Completed ({{completedCount|async}})</span></h5>
        </div>     
        <div class ="divider-line"></div>
    </div>
</div>

<div *ngFor="let todo of (todoes | async | TodoListStatusFilter:1);trackBy:trackByTodo" >
    <app-todo [todo]="todo"></app-todo>
</div>




