<div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="navbar-brand mr-auto">
        <a>ToDo List!</a>
    </div>
    <div class="navbar" *ngIf="user | async; let loggedUser;">
        <!--div class="nav-item">
            <div class="nav-link">
                <span class="text-light welcome-text">Hi, {{cur.displayName}}</span> 
            </div>
            
        </div-->  
        <div class="nav-item">
            <a href="#" (click)="signOut()" placement="bottom" ngbTooltip="Logout">
            <span class=" fa fa-sign-out fa-2x text-light"></span>
            </a>
        </div>   
        
        <img [src]="loggedUser.photoURL" class="user-photo rounded-circle" placement="bottom" ngbTooltip="Hi, {{loggedUser.displayName}}">
    </div>   
  
    <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" data-toggle="tooltip" placement="bottom" ngbTooltip="Menu">
            <span class="navbar-toggler-icon"></span>
    </button-->  
</div>
