.blue {
    background:lightskyblue;
  }

.green{
    background:lightgreen;
}

.todo-close-button {
    width: 90px;
}

.todo-add-button{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); 
    border: 1px solid lightgrey;
    height: 50px;
}