    <div class="row">
        <div *ngIf="isShowed; then addTodoForm else addTodoButton"></div>
    </div>

    <ng-template #addTodoButton>
        <div class="col-12">
            <button (click)="showForm()" class="btn btn-info fa fa-plus btn-block todo-add-button">
                 <span class="font-weight-bold ">{{"Add new ToDo!"}}</span>  
            </button>
        </div>
    </ng-template>

    <ng-template #addTodoForm>
        <div class="col-12">
            <div class="card">
                <div class="card-block pt-4 pl-4 pr-4">
                    <div class="row">
                        <div class="col">
                            <h4>New ToDo</h4>
                        </div>
                       
                        <div class="col-2">
                            <button (click)="showForm()" class="btn btn-light float-right fa fa-close todo-close-button"></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form ngNativeValidate [formGroup] = "reactiveForm" (submit)="onSubmit()">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Example: Buy some bread" required/>
                        </div>
            
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Example: Buy white bread from the shop at the corner of the street"/>
                        </div>
            
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-secondary">Clear</button>
                    </form>              
                </div>
            </div>
        </div>
       
    </ng-template>
   
   
