<app-navbar></app-navbar> 
<div class="container">        
    <div *ngIf="user | async; else unAuthContent">
        <app-todo-add></app-todo-add>
        <app-todo-list></app-todo-list>
    </div>
</div>

<ng-template #unAuthContent>
        <app-sign-in-panel></app-sign-in-panel>
</ng-template>

<ngx-spinner
size = "medium"
type = "square-jelly-box"
></ngx-spinner>