<div class="my-3 p-3 bg-white rounded box-shadow">
      <div class="row">
          <div class="col text-center">
                  <h4>Sign in to use ToDo list.</h4>
          </div>
        </div>
      <div class="row">
        <div class="col text-center">
              <a href="#" (click)="signIn()" data-toggle="tooltip" placement="bottom" ngbTooltip="Google Authentification">
                  <span class="fa fa-google-plus-square fa-4x"></span>
              </a>
        </div>
      </div>
</div>
