

    
    <div *ngIf="todo" class="row todo-box" [ngClass]="{'todo-box-completed':todo.status==1}">
       
        <div class="col-12">
                <div class="row todo-box-header" (click)="setShowBody();">      
                    <div class="col col-sm-8 todo-box-center" >
                        <div class="mr-2" [ngClass]="isShowBody?'fa fa-angle-up fa-2x':'fa fa-angle-down fa-2x'" placement="bottom" ngbTooltip="Expand"></div>
                        <div *ngIf="isEditMode; then todoEditTitle else todoBaseTitle"></div>
                    </div>
                    <div class="col-2 col-sm-4 todo-button-col">
                        <div *ngIf="isEditMode; then todoEditCancelButton else todoBaseToggleButton"></div>
                    </div>
        
                </div>
                <div *ngIf="isShowBody && todo.text" class="row todo-box-body" > 
                    <div class="col-12 todo-box-body-content" contenteditable="true">
                        <div *ngIf="isEditMode; then todoEditText else todoBaseText"></div>
                    </div>
                </div>
                <div *ngIf="isShowBody" class="row todo-box-bottom" > 
                
                        <div class="col-6">
                            <small *ngIf="todo.lastUpdated" class="text-muted" > Last Updated: {{todo.lastUpdated|date:'short'}}</small>  
                        </div>
                        
                        <div class="col-6 todo-button-col">
                                <button (click)="deleteTodo(todo); stopClickEvent($event);" class="todo-button float-right btn btn-danger fa fa-close ml-2"
                                placement="bottom" ngbTooltip="Delete"></button>
                                <div *ngIf="!isEditMode; then todoBaseEditButton else todoBaseSaveButton"></div>
                        </div>   
                </div>
        </div>
        
    </div>     


    <ng-template #todoBaseTitle>
        <div [ngClass]="isShowBody?'text-hide-overflow-open':'text-hide-overflow-closed'">{{todo.title}}</div>
    </ng-template>

    <ng-template #todoEditTitle>
        <input type="text" class="form-control" id="title" [(ngModel)]="todo.title" name="title" required/>
    </ng-template>

    <ng-template #todoBaseText>     
        {{todo.text}}
    </ng-template>

    <ng-template #todoEditText>
        <textarea (click)="stopClickEvent($event);" form ="testformid" name="taname" id="taid" cols="1000" [(ngModel)]="todo.text"></textarea>
    </ng-template>


    <ng-template #todoBaseToggleButton>
        <button (click)="toggleTodo(todo); stopClickEvent($event);" 
        class="todo-button float-right btn ml-2" 
        [ngClass]="todo.status==1?'btn-info fa fa-undo':'btn-success fa fa-check'"></button> 
    </ng-template>

    <ng-template #todoEditCancelButton>
            <button (click)="setEditMode(); stopClickEvent($event);" 
            class="todo-button float-right btn btn-secondary fa fa-ban ml-2" 
            placement="bottom" ngbTooltip="Cancel"></button>
    </ng-template>

    <ng-template #todoBaseEditButton>
        <button (click)="setEditMode(); stopClickEvent($event);" 
        class="todo-button float-right btn btn-secondary fa fa-edit ml-2"
        placement="bottom" ngbTooltip="Edit"></button>
    </ng-template>

    <ng-template #todoBaseSaveButton>
        <button (click)="updateTodo(todo); stopClickEvent($event);" 
        class="todo-button float-right btn btn-secondary fa fa-save ml-2"
        placement="bottom" ngbTooltip="Save"></button>
    </ng-template>