

.todo-button{
    width: 40px;
   // margin-top: 5px;
  //  margin-bottom: 5px;
}

.todo-button-header{
    padding: 0;
    padding-right:10px; 
    padding-top:10px; 
    padding-bottom:10px; 
}

.todo-button-col{
    padding: 0;
    padding-right:10px; 
    padding-top:10px; 
    padding-bottom:10px; 
}

.text-hide-overflow-closed {
    display: block;
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow:ellipsis;
}

.text-hide-overflow-open {
    display: block;
    display: -webkit-box;
    line-height: 1.3;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow:ellipsis;
}

.todo-box{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);  
    //border: 4px solid #eee;
   // border-left: 15px solid #e3e4e5;
    border-left: 15px solid forestgreen;
    border-radius: .25rem;
    background-color: white;
    margin-top:15px;
    margin-left:0px;
    margin-right:0px;
}

.todo-box-completed{
    border-left-color: #e3e4e5;
}

.todo-box-header{
    display: flex;
    align-items: center;
    min-height: 50px;
   // padding: 10px 0 10px 0;
   // max-height:96px; //now it scalable
}

.todo-box-center{
    display: flex;
    align-items: center;
}

.todo-box-body{ 
    display: flex;
    padding: 0px 0px 0 0px;
}
.todo-box-body-content{
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background-color:#f2f2f2 ;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.todo-box-bottom{
    display: flex;
    align-items: center;
 //   min-height: 50px;
    //padding: 10px 0 10px 0;
   // max-height:96px; //now it scalable
}

textarea{
    resize:vertical;
}
